<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveProduct()"
          [formGroup]="productForm">


      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
                for="nameId">First Name</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="nameId"
                  type="text"
                  placeholder="First Name (required)"
                  formControlName="name"
                  [ngClass]="{'is-invalid': (productForm.get('name')?.touched ||
                                            productForm.get('name')?.dirty) &&
                                            !productForm.get('name')?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="productForm.get('name')?.errors?.required">
              Please enter your first name.
            </span>
            <span *ngIf="productForm.get('name')?.errors?.minlength">
              The first name must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
                for="descriptionId">Description</label>
        <div class="col-md-8">
          <input class="form-control"
                  id="descriptionId"
                  type="text"
                  placeholder="description (required)"
                  formControlName="description"
                  [ngClass]="{'is-invalid': (productForm.get('description')?.touched ||
                                            productForm.get('description')?.dirty) &&
                                            !productForm.get('description')?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="productForm.get('description')?.errors?.required">
              Please enter your first description.
            </span>
            <span *ngIf="productForm.get('description')?.errors?.minlength">
              The first description must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>

      
      <div formArrayName="images" >
        <div [formGroupName]="i" *ngFor="let item of getimagesControls(); let i = index">
          <div class="form-group row mb-2">
            <p style="color: brown; border: black;">{{item}}</p>

            <label class="col-md-2 col-form-label"
            attr.for="{{'id' + i}}">id</label>
            <div class="col-md-3">
              <input class="form-control"
                      id="{{'id' + i}}"
                      type="text"
                      placeholder="id"
                      formControlName="id">
            </div>

           

            <label class="col-md-2 col-form-label"
                    attr.for="{{ 'pathPicture' + i}}">pathPicture</label>
            <div class="col-md-8">
              <input class="form-control"
                      type="text"
                      placeholder="pathPicture (required)"
                      formControlName="pathPicture"/>
              <span class="invalid-feedback">
                <span *ngIf="productForm.get('pathPicture')?.errors?.required">
                  Please enter your first pathPicture.
                </span>
                <span *ngIf="productForm.get('pathPicture')?.errors?.minlength">
                  The first pathPicture must be longer than 3 characters.
                </span>
              </span>
            </div>
            <button type="button" (click)="deleteImage(i)">X {{i}}</button>
          </div>
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="col-md-4">
          <button class="btn btn-outline-primary"
                  type="button"
                  
                  (click)="addNewImage()">
            Add Another Image
          </button>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="quantityProductsId">quantityProducts</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="quantityProductsId"
                 type="number"
                 formControlName="quantityProducts"
                 [ngClass]="{'is-invalid': (productForm.get('quantityProducts')?.touched || 
                                             productForm.get('quantityProducts')?.dirty) && 
                                             !productForm.get('quantityProducts')?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="productForm.get('quantityProducts')?.errors?.range">
              Please inser numbert
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="quantityProductsId">unitCost</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="unitCostId"
                 type="number"
                 formControlName="unitCost"
                 [ngClass]="{'is-invalid': (productForm.get('unitCost')?.touched || 
                                             productForm.get('unitCost')?.dirty) && 
                                             !productForm.get('unitCost')?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="productForm.get('unitCost')?.errors?.range">
              Please insert unitCost
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="idPProductType">idPProductType</label>
        <div class="col-md-8">
          <select class="form-control"
                  id="idPProductType"
                  formControlName="idPProductType">
            <option value="">Select an option</option>
            <option *ngFor="let item of pproducts" [value]="item.id">
              {{ item.name }}
            </option>            
          </select>
        </div>
      </div>
      
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="idManufacturer">idManufacturer</label>
        <div class="col-md-8">
          <select class="form-control"
                  id="idManufacturer"
                  formControlName="idManufacturer">
            <option 
            value=""
            disabled
            selected
            hidden>Select an option</option>
            <option *ngFor="let item of manufacturers" [value]="item.id">
              {{ item.name }}
            </option>            
          </select>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="starRatingId">starRating</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="starRatingId"
                 type="number"
                 formControlName="starRating"
                 [ngClass]="{'is-invalid': (productForm.get('starRating')?.touched || 
                                             productForm.get('starRating')?.dirty) && 
                                             !productForm.get('starRating')?.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="productForm.get('starRating')?.errors?.range">
              Please rate your experience from 1 to 5.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="productForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!productForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/products']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this product"
                  (click)="deleteProduct()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>

<br>Dirty: {{ productForm.dirty }}
<br>Touched: {{ productForm.touched }}
<br>Valid: {{ productForm.valid }}
<br>Value: {{ productForm.value | json }}
<br>&nbsp;